@import "tailwindcss";

@theme {
  --color-coffee-50: #f6f3f2;
  --color-coffee-100: #eae4e2;
  --color-coffee-200: #d7c9c4;
  --color-coffee-300: #c6afa5;
  --color-coffee-400: #b2988e;
  --color-coffee-500: #978178;
  --color-coffee-600: #79675f;
  --color-coffee-700: #584b45;
  --color-coffee-800: #3d332f;
  --color-coffee-900: #231c19;
  --color-coffee-950: #171210;
  --color-red-50: #ffeded;
  --color-red-100: #fedada;
  --color-red-200: #feafaf;
  --color-red-300: #fe8585;
  --color-red-400: #fd4f4f;
  --color-red-500: #e60b0b;
  --color-red-600: #ba0707;
  --color-red-700: #8e0404;
  --color-red-800: #640202;
  --color-red-900: #410101;
  --color-red-950: #2c0000;
}

/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
